{% extends 'flatpages/default.html' %}

{% block title %}
Post
{% endblock title %}


{% block content %}
{% if Post %}
        <table width="100%" style="margin-top: 35px">
            <tr>
                <td>Медиа</td>
                <td>Заголовок</td>
                <td>Содержание</td>
                <td>Категории</td>
            </tr>

            <tr>
                {% if Post.upload %}
                <td><img src="{{ Post.media.url }}" alt="" width="300" height="300"></td>
                {% endif %}
                <td>{{ Post.title }}</td>
                <td>{{ Post.text|truncatewords:20|safe }}</td>
                <td>{{ Post.get_category_display }}</td>

            </tr>
        </table>
{% endif %}
{% endblock content %}