{% extends 'flatpages/default.html' %}

{% block content %}
<h1>Удаление новостей</h1>
<hr>
<form action="" method="post">
    {% csrf_token %}
    <p>Удаляем {{ object.title }}?</p>
    <input type="submit" value="Удалить" style="display: inline-block;
          padding: 10px 20px;
          background-color: #0a0a23;
          color: white;
          text-decoration: none;
          border-radius: 10px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
          transition: box-shadow 0.3s ease;"/>
</form>
{% endblock content %}